 /*
#Project name: Assignment-2  
#Description: Creating a domestic violence awareness 
web application with an interactive quiz
#Filename: DV.scss
#Description: This page contains the css information for the learn more page on
the website (the DV.html.erb page) 
#Last modified on: 03-24-2022 */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .image-block {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-block-inner {
    box-shadow: 0px 3px 10px 1px rgb(233, 157, 157);
  }
  
  .image-block li>.image-block-inner {
    padding-bottom: 30px;
    background-color: #fff;
    height: 100%;
  }
  
  a {
    color: #111;
    text-decoration: none;
  }
  
  h2,
  h4 a {
    text-transform: uppercase;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .image-block li>.image-block-inner>a {
    display: block;
    overflow: hidden;
  }
  
  .image-block li>.image-block-inner>a img {
    border: 1px solid #c03d00;
  }
  
  .image-block li>.image-block-inner:hover {
    background-color: rgb(255, 137, 137);
  }
  
  .hp-posts-cat {
    margin-bottom: 13px;
    margin-top: 35px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    display: inline-block;
  }
  .news {
    font-family: 'Oswald', sans-serif;
  }
  
  .news .image-block li>.image-block-inner h4,
  .hp-posts-cat,
  .news .image-block li>.image-block-inner p,
  .read-more {
    padding: 0 28px; 
  }
  
  .read-more {
    display: block;
    text-decoration: underline;
    margin-top: 30px;
    font-weight: 600;
    color: #111;
  }

