<!-- 
#Project name: Assignment-2  
#Description: Creating a domestic violence awareness 
web application with an interactive quiz
#Filename: index.html.erb
#Description: This is the html landing page. It provides all the information that can be found
on the website. 
#Last modified on: 03-24-2022 */-->

<!--formatting and information for the header -->
<section class="how-it-works">
   <div class="container">
     <div class="row pb-5">
       <div class="text-center col-md-8 mx-auto">
         <h2>The Vision</h2>
         <p>To create an application that allows us to understand the importance of addressing such 
         issues and educates people more on how prevalent domestic violence is below you will 
         find information about what this application offers</p>
       </div>
     </div>
    <!--formatting and information for the body and information inside it -->
     <div class="row content">
       <div class="row pb-5">

         <div class="col-md-6 mt-2 mt-md-0 p-2 pl-4 box mb-3">
           <div class="d-flex p-3 bg-white align-items-center justify-content-between">
             <div class="p-1">
               <h3 class="h4 mt-3 ">Real Life Testimonies</h3>
               <p class="mt-3">Learn about domestic violence by reading about real life experiences</p>
             </div>
           </div>
         </div>

         <div class="col-md-6 mt-2 mt-md-0 p-2 pl-4 box mb-3">
           <div class="d-flex p-3 bg-white align-items-center justify-content-between">
             <div class="p-1">
               <h3 class="h4 mt-3 ">The Domestic Violence History and Laws</h3>
               <p class="mt-3">Learn About Domestic Violence Laws</p>
             </div>
           </div>
         </div>

         <div class="col-md-6 mt-2 mt-md-0 p-2 pl-4 box mb-3">
           <div class="d-flex p-3 bg-white align-items-center justify-content-between">
             <div class="p-1">
               <h3 class="h4 mt-3 ">Statistics and Facts</h3>

               <p class="mt-3">Read About Statistics and facts regarding Domestic Violence </p>
             </div>
           </div>
         </div>

         <div class="col-md-6 mt-2 mt-md-0 p-2 pl-4 box mb-3">
           <div class="d-flex p-3 bg-white align-items-center justify-content-between">
             <div class="p-1">
               <h3 class="h4 mt-3 ">How can you help? </h3>
               <p class="mt-3">Learn about how you can contirbute to raising awareness? </p>
             </div>
           </div>
         </div>

         <div class="col-md-6 mt-2 mt-md-0 p-2 pl-4 box mb-3">
           <div class="d-flex p-3 bg-white align-items-center justify-content-between">
             <div class="p-1">
               <h3 class="h4 mt-3 ">Take A Quiz</h3>
               <p class="mt-3">Interact and show how much you've learned by taking quizzes</p>
             </div>
           </div>
         </div>

         <div class="col-md-6 mt-2 mt-md-0 p-2 pl-4 box mb-3">
           <div class="d-flex p-3 bg-white align-items-center justify-content-between">
             <div class="p-1">
               <h3 class="h4 mt-3 ">Links and Resources</h3>
               <p class="mt-3">Find all the links and resources that were used for this information</p>
             </div>
           </div>
         </div>

       </div>
     </div>
   </div>
 </section>