<!-- 
#Project name: Assignment-2  
#Description: Creating a domestic violence awareness 
web application with an interactive quiz
#Filename: stats.html.erb 
#Description: This contains html for the statistics page which provides
information on statistics and facts regarding domestic violence
#Last modified on : 03-24-2022 !-->


<section class="pb-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Statistics and Facts : link used : https://ncadv.org/STATISTICS (WILL HAVE 10 in total)</h2>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="row mb-3 mb-md-0">
          <div class="col-2 text-center text-cta-color pr-0"><i class="fa fas fa-rocket fa-lg"></i></div>
          <div class="col-10 pl-0">
            <h4 class="h5">1. </h4>
            <p>On average, nearly 20 people per minute are physically abused by an 
            intimate partner in the United States. During one year, this equates to more than 10 million women and men.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row mb-3 mb-md-0">
          <div class="col-2 text-center text-cta-color pr-0"><i class="fa fas fa-ticket fa-lg"></i></div>
          <div class="col-10 pl-0">
            <h4 class="h5">2.</h4>
            <p>1 in 4 women and 1 in 9 men experience severe intimate partner physical violence, intimate partner contact sexual violence, and/or intimate partner stalking with impacts such as injury, fearfulness, post-traumatic stress disorder, use of victim services, contraction of sexually transmitted diseases etc.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row mb-3 mb-md-0">
          <div class="col-2 text-center text-cta-color pr-0"><i class="fa fas fa-music fa-lg"></i></div>
          <div class="col-10 pl-0">
            <h4 class="h5">3.</h4>
            <p>1 in 7 women and 1 in 25 men have been injured by an intimate partner.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row mb-3 mb-md-0">
          <div class="col-2 text-center text-cta-color pr-0"><i class="fa fas fa-cutlery fa-lg"></i></div>
          <div class="col-10 pl-0">
            <h4 class="h5">4.</h4>
            <p>1 in 10 women have been raped by an intimate partner. Data is unavailable on male victims.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row mb-3 mb-md-0">
          <div class="col-2 text-center text-cta-color pr-0"><i class="fa fas fa-globe-americas fa-lg"></i></div>
          <div class="col-10 pl-0">
            <h4 class="h5">5.</h4>
            <p>Only 34% of people who are injured by intimate partners receive medical care for their injuries.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row mb-3 mb-md-0">
          <div class="col-2 text-center text-cta-color pr-0"><i class="fas fa-meteor fa-lg"></i></div>
          <div class="col-10 pl-0">
            <h4 class="h5">6.</h4>
            <p>On a typical day, there are more than 20,000 phone calls placed to domestic violence hotlines nationwide.</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>