<!--<h1>New Statsquiz</h1>-->

<%= render 'form', statsquiz: @statsquiz %>
<%= link_to 'Back', statsquizzes_path ,  class:"btn btn-outline image-block-inner text-dark", style: "background-color: white" %> 
